.pokemon-area {
    background-color: rgba(240, 240, 240, 0.5);
    border-radius: 8px;
    z-index: 1;
    margin-top: 30px;
}

.pokemon-content {
    z-index: 2;
}

#picture-area{
    position: relative;
    border: 2px solid #f0f0f0;
    border-radius: 50%;    
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    background: -webkit-linear-gradient(-45deg, #f0f0f0 0%,#f0f0f0 100%); /* Chrome10-25,Safari5.1-6 */
}

#picture-front,
#picture-back {
    width: 60%;
    position: relative;
    top: 20px;
    left: 40px;
    padding: 10px;
    justify-content: center;
    border-radius: 50%; 
    background-color: rgba(240, 240, 240, 0.4);
}

#label-pokemon-types {
    display: inline-block;
    font-weight: 500;
    font-size: 1.75rem;
    padding-left: 0;
    list-style-type: none;
}

.carousel-inner{
    overflow: visible;
}