body{
    background: url("../img/fundo.jpg") no-repeat top / cover;
}

.pesquisa{
    margin-top: 50px;
}

#btn-sorte {
    margin-top: 20px;
}

#error-message {
    font-weight: 500;
    color: #ee1515;
}