.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.box{
  width: 800px;
  height: 400px;
  border-radius: 20px;
  background-color: white;
  align-items: center;
  justify-content: center;
}

.box a{
  color: black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-general {
  background: rgb(23,56,196);
  background: linear-gradient(90deg, rgba(23,56,196,1) 0%, rgba(111,42,195,1) 45%, rgba(192,0,255,1) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-general a {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
}

.App-general li{
  list-style-type: none;
  margin-bottom: 15px;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

