/* Reset */
/* Green DBC: #39b54a */
/* Blue DBC: #007aff */
nav ul,
body {
    margin: 0;
}

nav ul {
    padding: 0;
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #666;
}

a {
    color: rgb(23,56,196);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.login-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

.logo-orange{
    color: orange;
    padding-bottom: 40px;
}