/* About us */

.about-us .row {
    margin-bottom: 30px;
}

.about-us img {
    width: 150px;
    margin: 0 15px 15px 0;
    float: left;
}

.about-us .row:nth-child(2n) img {
    margin: 0 0 15px 15px;
    float: right;
}

.about-us h2{
    text-align: left;
}