/* Contact */

.contact {
    position: relative;
}

.field {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 0 0 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea.field {
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
}

/*Esse é o mapa Mobile*/
.map-container{
    width: 100%;
    height: 70vh;
}

@media (max-width: 619px){
    .map-container{
        margin-top: 30px;
        height: 70vh;
    }
}

/*Esse é o mapa Desktop*/
@media (min-width: 620px){
    .map-container {
        width: 50vw;
        position: absolute;
        top: 50px;
        bottom: 130px;
        right: 0;
        z-index: 1;
    }
}

.map {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
}