/* Articles */

.coluna article {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: left;
    position: relative;
    z-index: 2;
}

.coluna h2{
    margin: 0 0 10px;
    font-size: 30px;
    line-height: 40px;
}

.coluna p{
    max-width: 800px;
    margin: 0 auto 20px;
    font-size: 22px;
    line-height: 30px;
}