/* Header */

.main-header{
    width: 100%;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3); /* sombra */
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.logo{
    display: block;
    width: 115px;
    float: left;
    padding-top: 5px;
}

.logo img{
    width: 100%;
}

.main-header ul{
    float: right;
}

.main-header li{
    float: left;
}

.main-header ul a {
    display: block;
    padding: 15px;
}


