/* Reset */

nav ul,
body{
    margin: 0;
}

nav ul{
    padding: 0;
    list-style: none; /* tira as bolinhas da lista */
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px; /* tamanho da linha*/
    color: #666;
}

a{
    color: #007aff;
    text-decoration: none; /* tira o underline de link */
}

a:hover{
    text-decoration: underline;
}