/* Carousel*/

.carousel-item{
    height: calc(100vh - 56px);
    background-position: center;
    background-size: cover;
    background-repeat: cover;
}

.carousel-item a{
    color: white;
}

/*
    Se eu quiser uma imagem por banner:

    .carousel-item.carousel-item-1{
        background-image: url(...);
    }

*/
.carousel-item-1{
    background-image: url("img/escola.jpg");
}

.carousel-item-2{
    background-image: url("img/comidas.jpg");
    background-position: center bottom;
}

.carousel-item-3{
    background-image: url("img/hogsmeade.jpg");
    background-position: center bottom;
} 
.carousel-item-4{
    background-image: url("img/quadribol.jpg");
}

