/* Comidas*/

.tm-img{
    width: 300px;
    height: 300px;
}

.img-left{
    text-align: left;
}

.img-right{
    text-align: right;
}

.texto h2{
    font-family: Fantasy, Arial, Helvetica;
}

/*
<div class="col-12 col-md-3 p-3">
                    <h2>Guloseimas</h2>
                    <ul>
                        <li></li>
                        <li></li>
                        <li>Varinhas de Alcaçuz</li>
                        <li>Bolos de Caldeirão</li>
                        <li>Delícias Gasosas (fazem você levitar)</li>
                        <li>Diabinhos negros de pimenta (sopre fogo em seus amigos!)</li>
                        <li>Fio dental de Menta</li>
                    </ul>
                </div>




                <div class="card-deck">
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>


*/