/* Footer */

.main-footer {
    padding: 20px 0;
    margin-top: 40px;
    background: #212529;
    text-align: center;
    color: rgba(255,255,255,.5);
}

.main-footer li,
.main-footer a {
    display: inline-block;
    color: white;
    
}

.main-footer a {
    padding: 10px 20px;
}

.main-footer p {
    margin: 30px 0 0;
}